.hard-shadow-btn {
  box-shadow: 4px 4px 0px 0px rgba(15, 23, 42, 1);
  transition: all 0.2s;
}

.hard-shadow-btn:hover {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.sidebar-item {
  transition: all 0.2s;
}

.sidebar-item:hover {
  background: rgba(255, 255, 255, 0.1);
  border-left: 2px solid #F97316;
}

.sidebar-item.active {
  background: rgba(255, 255, 255, 0.1);
  border-left: 2px solid #F97316;
  color: white;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0;
}